body {
	max-width: 1200px;
	min-width: 768px;
	margin: 0 auto;
	padding: 0;
	
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
	color: #333333;
	text-transform: uppercase;
	
	background-color: #ffffff;
}

a {
	text-decoration: none;
}

img {
	width: 100%;
	height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
	font: inherit;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	color: #ffffff;
	text-transform: uppercase;
	border: none;
}

.button:hover,
.button:focus {
	color: #ffffff;
}

.button:active {
	color: rgba(255, 255, 255, 0.3);
}

.main-navigation {
	position: relative;
	
	line-height: 26px;
	font-weight: bold;
	color: #000000;
	
	background-color: #ffffff;
}

.header-logo {
	position: absolute;
	left: 50%;
	margin-left: -69px; 
	z-index: 2;
	
	width: 138px;
	height: 70px;
}

.site-navigation {
	display: flex;
  flex-wrap: wrap;
	margin: 0;
	padding: 0;
	
	list-style: none;
}

.site-navigation li {
	width: 20%;
}

.site-navigation li:first-child {
	padding-left: 6%;
}

.site-navigation li:last-child {
	padding-right: 6%;
}

.site-navigation li:nth-child(2){
	margin-right: auto;
}

.site-navigation a {
	display: block;
	padding: 15px 0;
	
	vertical-align: middle;
	text-align: right;
	color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
	color: #81b3d2;
}

.site-navigation a:active {
	color: rgba(0, 0, 0, 0.3)
}

.site-navigation li:first-child a,
.site-navigation li:nth-child(2) a {
	text-align: left;
}

.main-header .intro {
	position: relative;
	
	height: 510px;
	margin: 0;
	margin-bottom: 57px;
	
	background-color: #566068;
	overflow: hidden;
}

.intro img {
	position: absolute;
	top: -55px;
}

.intro::before {
	content: "";
	
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 1;
	
	margin-top: -176px;
	margin-left: -229px;
	
	width: 458px;
	height: 352px;
	
	background-image: url("../img/lettering.png");
	background-position: 0 0;
	background-repeat: no-repeat;
}

.intro::after {
	content: "";
	
	position: absolute;
	bottom: 0;
	
	width: 100%;
	height: 57px;
	
	background-image: url("../img/border.png");
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 100% 57px;
}

.main-content .text {
	width: 445px;
	margin: 0 auto;
	margin-bottom: 28px;
	
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	text-align: center;
}

.features {
	text-align: center;
}

.features .reason {
	margin: 0;
	margin-bottom: 52px;
	
	line-height: 26px;
}

.features-title {
	display: flex;
}

.features-title:last-of-type .text-container {
	order: 1;
}

.features-title .text-container {
	box-sizing: border-box;
	width: 33%;
	padding-top: 47px;
	padding-bottom: 37px;
	padding-right: 35px;
	padding-left: 35px;
	
	background-color: #81b3d2;
}

.features-title h3,
.features-description-item h3 {
	width: 151px;
	margin: 0 auto;
	margin-bottom: 25px;
	

	font-size: 21px;
	font-weight: bold;
	color: #ffffff;
}

.features-title p {
	color: #ffffff;
}

.features-description-item h3 {
	color: #000000;
}

.features .numbering {
	margin: 0 auto;
	margin-bottom: 21px;
}

.features .numbering::before {
	content: "— ";
}

.features .numbering::after {
	content: " —";
}

.features .desc {
	margin: 0 auto;
}

.features-title .img-container {
	position: relative;
	width: 67%;
	min-height: 256px;
	margin: 0;
	
	background-color: #81b3d2;
	overflow: hidden;
}

.img-container img {
	position: absolute;
	top: -80px;
	left: 0;
}

.features-description-list {
	display: flex;
	margin: 0;
	padding: 0;
	
	list-style: none;
}

.features-description-item {
	box-sizing: border-box;
	width: 33.3%;
	padding-right: 35px;
	padding-left: 35px;
}

.features-description-list:first-of-type .features-description-item {
	position: relative;
	padding-top: 160px;
	padding-bottom: 60px;
	min-height: 330px;
}

.features-description-list:first-of-type .features-description-item:first-child::before {
	content: "";
	
	position: absolute;
	bottom: 198px;
	left: 50%;
	
	margin-left: -37px;
	
	width: 75px;
	height: 76px;
	
	background-image: url("../img/icon-1.svg");
	background-position: center bottom;
	background-repeat: no-repeat;
}

.features-description-list:first-of-type .features-description-item:nth-child(2)::before {
	content: "";
	
	position: absolute;
	bottom: 198px;
	left: 50%;
	
	margin-left: -37px;
	
	width: 75px;
	height: 76px;
	
	background-image: url("../img/icon-3.svg");
	background-position: center bottom;
	background-repeat: no-repeat;
}

.features-description-list:first-of-type .features-description-item:last-child::before {
	content: "";
	
	position: absolute;
	bottom: 198px;
	left: 50%;
	
	margin-left: -37px;
	
	width: 75px;
	height: 76px;
	
	background-image: url("../img/icon-2.svg");
	background-position: center bottom;
	background-repeat: no-repeat;
}

.features-description-list:last-of-type {
	min-height: 256px;
	margin-bottom: 50px;
	
	background-color: #eeeeee;
}

.features-description-list:last-of-type .features-description-item {
	padding-top: 47px;
	padding-bottom: 37px;
	padding-right: 35px;
	padding-left: 35px;
}

.appointment {
	text-align: center;
}

.appointment h2 {
	margin: 0;
	margin-bottom: 25px;
	
	font-size: 30px;
	line-height: 36px;
	font-weight: bold;
	text-align: center;
	color: #000000;
}

.appointment-info {
	width: 400px;
	margin: 0 auto;
	margin-bottom: 46px;
	
	line-height: 24px;
}

.appointment .button {
	padding: 30px 140px;
	
	font-size: 21px;
	line-height: 26px;
	
	background-color: #766357;
}

.appointment .button:hover,
.appointment .button:focus {
	background-color: #604e43;
}

.appointment .button:active {
	background-color: #503e33;
}

.map .img-container-map {
	position: relative;
	
	max-width: 1200px;
	height: 593px;
	margin: 0;
	
	background-color: #cbdda9;
	overflow: hidden;
}

.img-container-map img {
	position: absolute;
	bottom: 0;
	left: 50%;
	
	margin-left: -640px;
	
	width: 1280px;
	height: 747px;
}

.filters {
	padding: 28px 6% 31px 6%;
	color: #ffffff;
	
	background-color: #566068;
	background-image: url("../img/filter_background.jpg");
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: 100% auto;
}

.filter {
	display: flex;
}

.filter fieldset {
	width: 24%;
	padding: 0;
	margin: 0;
	
	border: none;
	
	background: rgba(0, 128, 0, 0.2);
  box-shadow: 0 0 0 3px green;
}

.filter fieldset:nth-child(2) {
	margin-right: auto;
}

.filter fieldset:last-child {
	width: 30%;
}

.filter legend {
	font-size: 16px;
	font-weight: bold;
}

.filter ul {
	list-style: none;
	line-height: 21px;
}

.filter-input:hover,
.filter-input:focus {
	color: #ffffff;
}

.filter-input:disabled {
	color: #6a6a6a;
}

.filter .button {
	font-weight: normal;
	
	background-color: transparent;
	border: 2px solid #ffffff;
}

.filter .button:hover,
.filter .button:focus {
	color: #000000;
	background-color: #ffffff;
}

.sort p {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: #000000;
}

.sort-title {
	font-size: 12px;
	line-height: 18px;
	color: #000000;
}

.sort-list,
.sort-results-list {
	list-style: none;
}

.sort-list a {
	font-size: 12px;
	line-height: 18px;
	color: rgba(0, 0, 0, 0.3);
	border-bottom: 1px dotted #81b3d2;
}

.sort-list a:hover,
.sort-list a:focus {
	color: #81b3d2;
}

.sort-list a:active {
	color: #000000;
	border-bottom: none;
}

.sort-current a {
	color: #81b3d2;
	border-bottom: none;
}

.sort-current a:hover,
.sort-current a:focus,
.sort-current a:active {
	color: #81b3d2;
}

.catalog-list {
	list-style: none;
}

.catalog-item {
	border-top: 1px solid #e5e5e5;
}

.catalog-item:last-child {
	border-bottom: 1px solid #e5e5e5;
}

.catalog-item h3 {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: #000000;
}

.catalog-item h3:hover,
.catalog-item h3:focus {
	color: #81b3d2;
}

.catalog-item h3:active {
	color: rgba(0, 0, 0, 0.3);
}

.catalog-category {
	color: #333333;
}

.catalog-item-price {
	font-weight: normal;
}

.catalog-item .button-info {
	background-color: #81b3d2;
}

.catalog-item .button-info:hover,
.catalog-item .button-info:focus {
	background-color: #669ec0;
}

.catalog-item .button-info:active {
	background-color: #5496bd;
}

.catalog-item .button-reserve {
	background-color: #766357;
}

.catalog-item .button-reserve:hover,
.catalog-item .button-reserve:focus {
	background-color: #604e43;
}

.catalog-item .button-reserve:active {
	background-color: #503e33;
}

.catalog-item .rating-text {
	color: #666666;
	background-color: #f2f2f2;
}


.footer-home-page {
	position: relative;
	bottom: 120px;
}

.main-footer {
	display: flex;
		
	color: #000000;
	background-color: rgba(254, 254, 254, 0.9);
}

.footer-hashtag {
	width: 33.3%;
	margin: 0;
	padding: 45px 0;
	
	text-align: center;
}

.footer-hashtag a {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: #000000;
}

.footer-hashtag a::before {
	content: "#";
}

.footer-social {
	width: 33.3%;
	padding: 36px 0;
	
	text-align: center;
}

.footer-social ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 151px;
	margin: 0 auto;
	padding: 0;
	
	list-style: none;
}

.social-button {
	display: flex;
  align-items: center;
  justify-content: center;
	
	width: 46px;
	height: 48px;
	
	background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
	background-color: #669ec0;
}

.social-button:active {
	background-color: #5496bd;
}

.social-button:hover path,
.social-button:focus path{
	fill: #ffffff;
}

.social-button:active path{
	fill: #88b6d1;
}

.footer-copyright {
	width: 33.3%;
	padding: 40px 0;
	
	text-align: center;
}

.footer-copyright b {
	display: inline-block;
	
	padding-top: 5px;
	padding-right: 7px;
	
	font-size: 14px;
	line-height: 26px;
	font-weight: normal;
	color: #000000;
	vertical-align: top;
}

.footer-copyright a path {
	fill: #231f20;
}

.footer-copyright a:hover path,
.footer-copyright a:focus path {
	fill: #81b3d2;
}

.footer-copyright a:active path {
	fill: #bdbbbc;
}

.modal-search {
	color: #000000;
	background-color: #ffffff;
}

.order-form label {
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	color: #000000;
}

.order-form input {
	font: inherit;
	line-height: 26px;
	font-weight: bold;
	color: #000000;
	text-transform: uppercase;
	
	background-color: #f2f2f2;
	border: none;
}

.order-form input:hover {
	background-color: #ebebeb;
}

.order-form input:focus {
	background-color: #ffffff;
	border: 2px solid #e5e5e5;
}

.order-form .button {
	font-size: 21px;
	line-height: 26px;
	
	background-color: #81b3d2;
}

.order-form .button:hover,
.order-form .button:focus {
	background-color: #669ec0;
}

.order-form .button:active {
	background-color: #5496bd;
}