body {
	max-width: 1200px;
	min-width: 768px;
	margin: 0 auto;
	padding: 0;
	
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
	color: #333333;
	text-transform: uppercase;
	
	background-color: #ffffff;
}

a {
	text-decoration: none;
}

.button {
	font: inherit;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	color: #ffffff;
	text-transform: uppercase;
	border: none;
}

.button:hover,
.button:focus {
	color: #ffffff;
}

.button:active {
	color: rgba(255, 255, 255, 0.3);
}

.container {
	padding: 0 6%;
}
 
.main-navigation {
	display: flex;
	
	line-height: 26px;
	font-weight: bold;
	color: #000000;
	
	background-color: #ffffff;
}

.header-logo {
	width: 138px;
	height: 70px;
}

.site-navigation {
	margin: 0;
	padding: 0;
	
	list-style: none;
}

.site-navigation a {
	color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
	color: #81b3d2;
}

.site-navigation a:active {
	color: rgba(0, 0, 0, 0.3)
}

.main-header .intro {
	background-color: #566068;
}

.intro img {
	width: 100%;
	height: 100%;
}

.main-content .text {
	margin-bottom: 35px;
	
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	text-align: center;
}

.features {
	text-align: center;
}

.features .reason {
	margin-bottom: 55px;
	
	line-height: 26px;
}

.features-title {
	display: flex;
}

.features-title:last-of-type .text-container {
	order: 1;
}

.features-title .text-container {
	width: 33%;
	
	background-color: #81b3d2;
}

.features-description-item h3,
.features-title h3 {
	font-size: 21px;
	font-weight: bold;
	color: #000000;
}

.features-title h3,
.features-title p {
	color: #ffffff;
}

.features-title .img-container {
	width: 67%;
	
	background-color: #81b3d2;
}

.features-description-list {
	display: flex;
	margin: 0;
	padding: 0;
	
	list-style: none;
}

.features-description-item {
	width: 33%;
}

.features-description-list:last-of-type {
	margin-bottom: 57px;
	
	background-color: #eeeeee;
}

.appointment {
	text-align: center;
}

.appointment h2 {
	font-size: 30px;
	line-height: 36px;
	font-weight: bold;
	color: #000000;
}

.appointment-info {
	line-height: 24px;
}

.appointment .button {
	font-size: 21px;
	line-height: 26px;
	
	background-color: #766357;
}

.appointment .button:hover,
.appointment .button:focus {
	background-color: #604e43;
}

.appointment .button:active {
	background-color: #503e33;
}

.map .img-container{
	background-color: #cbdda9;
}

.filter {
	color: #ffffff;
	
	background-color: #566068;
	background-image: url("../img/filter_background.jpg");
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: 100% auto;
}

.filter fieldset {
	border: none;
}

.filter legend {
	font-size: 16px;
	font-weight: bold;
}

.filter ul {
	list-style: none;
	line-height: 21px;
}

.filter-input:hover,
.filter-input:focus {
	color: #ffffff;
}

.filter-input:disabled {
	color: #6a6a6a;
}

.filter .button {
	font-weight: normal;
	
	background-color: transparent;
	border: 2px solid #ffffff;
}

.filter .button:hover,
.filter .button:focus {
	color: #000000;
	background-color: #ffffff;
}

.sort p {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: #000000;
}

.sort-title {
	font-size: 12px;
	line-height: 18px;
	color: #000000;
}

.sort-list,
.sort-results-list {
	list-style: none;
}

.sort-list a {
	font-size: 12px;
	line-height: 18px;
	color: rgba(0, 0, 0, 0.3);
	border-bottom: 1px dotted #81b3d2;
}

.sort-list a:hover,
.sort-list a:focus {
	color: #81b3d2;
}

.sort-list a:active {
	color: #000000;
	border-bottom: none;
}

.sort-current a {
	color: #81b3d2;
	border-bottom: none;
}

.sort-current a:hover,
.sort-current a:focus,
.sort-current a:active {
	color: #81b3d2;
}

.catalog-list {
	list-style: none;
}

.catalog-item {
	border-top: 1px solid #e5e5e5;
}

.catalog-item:last-child {
	border-bottom: 1px solid #e5e5e5;
}

.catalog-item h3 {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: #000000;
}

.catalog-item h3:hover,
.catalog-item h3:focus {
	color: #81b3d2;
}

.catalog-item h3:active {
	color: rgba(0, 0, 0, 0.3);
}

.catalog-category {
	color: #333333;
}

.catalog-item-price {
	font-weight: normal;
}

.catalog-item .button-info {
	background-color: #81b3d2;
}

.catalog-item .button-info:hover,
.catalog-item .button-info:focus {
	background-color: #669ec0;
}

.catalog-item .button-info:active {
	background-color: #5496bd;
}

.catalog-item .button-reserve {
	background-color: #766357;
}

.catalog-item .button-reserve:hover,
.catalog-item .button-reserve:focus {
	background-color: #604e43;
}

.catalog-item .button-reserve:active {
	background-color: #503e33;
}

.catalog-item .rating-text {
	color: #666666;
	background-color: #f2f2f2;
}

.main-footer {
	display: flex;
	padding: 36px 0;
	
	color: #000000;
	background-color: rgba(254, 254, 254, 0.9);
}

.footer-hashtag {
	width: 33%;
	margin: 0;
	
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	text-align: center;
}

.footer-social {
	width: 33%;
	
	text-align: center;
}

.footer-social ul{
	list-style: none;
}

.social-button {
	color: #333333;
}

.footer-copyright {
	width: 33%;
	
	text-align: center;
}

.footer-copyright b {
	font-size: 14px;
	line-height: 26px;
	font-weight: normal;
}

.modal-search {
	color: #000000;
	background-color: #ffffff;
}

.order-form label {
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	color: #000000;
}

.order-form input {
	font: inherit;
	line-height: 26px;
	font-weight: bold;
	color: #000000;
	text-transform: uppercase;
	
	background-color: #f2f2f2;
	border: none;
}

.order-form input:hover {
	background-color: #ebebeb;
}

.order-form input:focus {
	background-color: #ffffff;
	border: 2px solid #e5e5e5;
}

.order-form .button {
	font-size: 21px;
	line-height: 26px;
	
	background-color: #81b3d2;
}

.order-form .button:hover,
.order-form .button:focus {
	background-color: #669ec0;
}

.order-form .button:active {
	background-color: #5496bd;
}